.catalog-tab-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 188px;
  max-width: 188px;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  cursor: pointer;
  margin: 0px;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  border-radius: 0px;
  background: #757575;
  float: left;
  border-right: .01rem solid #fff;
}


#button-array .catalog-tab-item  {
  border-bottom: .4rem solid #4e4e4e;
}

#button-array .catalog-tab-item a {
  text-decoration: none;
  letter-spacing: .055rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  color: #fff;
  font-size: 1.125rem;

}

#button-array {
  width: 1504px;
  left: 0px;
  display: block;
  padding: 2rem 0;
  visibility: visible;
}

#button-array .catalog-tab-item:hover {
  background-color: #fff;
}

#button-array .catalog-tab-item a:hover {
  webkit-transition: color .3s linear;
  color: #757575;
}

.view-uw-catalog .view-content h3 {
  font-size: 0;
  padding: 16px 0 0 2px;
}
.view-uw-catalog-category .view-content h3,
.view-uw-catalog-glossary .view-content h3 {
  margin-top: 1em;
}
#block-uw-ct-catalog-search-catalog-sidebar .form-item,
.form-actions {
  margin-top: 0.1em;
}

.view-uw-catalog-categories .view-content ul:first-child {
  list-style-type: none;
  font-size: 80%;
  padding: 0 0 0 1em;
}
.view-uw-catalog-categories .view-content ul:first-child > li {
  padding: 0 0 1.2em 0;
}

.view-uw-catalog-categories .view-content ul:first-child > li *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.view-uw-catalog-categories .view-content h2:first-child img {
  vertical-align: top;
  margin: 0 0.6em 0.6em 0;
  float: left;
  width: auto;
}

.view-uw-catalog-categories .view-content h2:first-child {
  font-weight: normal;
  border: none;
}
.view-uw-catalog-categories .view-content h2:first-child a {
  font-size: 1.2em;
  text-decoration: underline;
  margin-right: 0.2em;
  line-height: 130%;
}
#block-uw-ct-catalog-catalog-tablike-sidebar .content ul {
  padding: 0 0 1.5em 0;
}
#block-uw-ct-catalog-catalog-livechat-feedback-links .content ul {
  padding: 0 0 1.5em 0;
}
ul.tablike,
ul.livechat-feedback {
  padding: 0 0 1em 0;
  font-size: 0.9em;
  text-transform: uppercase;
  line-height: 2.6em;
}
#site-sidebar ul.tablike {
  font-size: 1.05882352941176em;
  line-height: 1.25em;
}
#site-sidebar ul.livechat-feedback {
  font-size: 1.05882352941176em;
  line-height: 1.25em;
  font-weight: bold;
}
ul.tablike li,
ul.livechat-feedback li {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0 2px 0 0;
}
#site-sidebar ul.tablike li,
#site-sidebar ul.livechat-feedback li {
  margin: 0;
}
ul.tablike li a {
  padding: 5px 10px;
  background: #eee;
  text-decoration: none;
  color: #000;
}
ul.livechat-feedback li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
}
ul li.feedback a {
  background: #fcd450;
}
#site-sidebar ul.tablike li a,
#site-sidebar ul.livechat-feedback li a {
  display: block;
  margin: 0 0 2px 0;
}
ul.tablike li.current a,
ul.tablike li.current a:hover,
ul.tablike li.current a:focus,
body #main ul.tablike li a:hover,
body #main ul.tablike li a:focus,
ul.tablike li a:hover,
ul.tablike li a:focus {
  background: #fcd450;
  color: #000;
}
.search-advanced #edit-advanced--2 fieldset .form-item input,
.search-advanced #edit-advanced fieldset .form-item input {
  font-size: 0.96em;
}
.field-name-field-catalog-available,
.field-name-field-catalog-audience,
.field-name-field-catalog-notice,
.field-name-field-catalog-length,
.field-name-field-catalog-hours {
  margin: 0 0 1em;
}
.field-name-field-catalog-available .field-items .field-item {
  padding-left: 1.5em;
}
.field-name-field-catalog-location,
.field-name-field-catalog-contact,
.field-name-field-catalog-owner {
  margin: 0 0 1em;
}

#uw-ct-catalog-search-block-form abbr.form-required {
  display: none;
}

#block-views-aa21ba3d7366fc48e4150f566add9429 .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0em;
}
#block-views-aa21ba3d7366fc48e4150f566add9429 {
  margin-bottom: 20px;
}
.insert-links {
  float: right;
  margin-bottom: 5px;
}
.view-uw-catalog-glossary .views-field-body {
  margin-bottom: 1em;
}
.view-uw-catalog-popular .views-row,
.view-uw-catalog-search .views-row,
.view-uw-catalog-glossary .views-row {
  margin-bottom: 1em;
}
.field-name-field-catalog-audience .field-items ul {
  padding-bottom: 0em;
}
.group-catalog-hidden legend {
  background-color: yellow;
}
fieldset.group-catalog-hidden {
  border-top: 3px solid red;
}
.catalog-category-sub h3,
.catalog-category-sub ul {
  margin-left: .8em;
}
.catalog-category-sub .item-list ul li {
  margin-left: 1.8em;
}
.catalog-title a,
.catalog-title-by-category a {
  font-size: 14.52px;
}
.view-uw-catalog-by-audience-page .views-row {
  margin-bottom: .95em;
  margin-left: .85em;
}
.view-id-uw_catalog_by_audience_page .view-content {
  margin-left: .95em;
}
.view-uw-catalog-by-audience-page .views-field-field-catalog-summary {
  margin-left: .8em;
}
div.catalog-title {
  display: list-item;
  list-style-type: square;
  margin-left: .8em;
}
#content .view-display-id-catalog_categories_page img {
  max-height: 60px;
}
